<div mat-dialog-content class="w-[400px] p-10">
  <h1 mat-dialog-title>{{ data.title }}</h1>
  <p><strong>Position:</strong> {{ data.position }}</p>
  <p><strong>Title:</strong> {{ data.title }}</p>
  <p><strong>Author:</strong> {{ data.author }}</p>
  <p><strong>Genre:</strong> {{ data.Genre }}</p>
  <p><strong>Loan Date:</strong> {{ data.loanDate }}</p>
  <p><strong>Return Date:</strong> {{ data.returnDate }}</p>
  <div mat-dialog-actions class="pt-2">
    <button mat-button mat-dialog-close>Close</button>
  </div>
</div>
